body{
    background-color: black;
}
.Head{
    color:yellow;
    text-shadow: .5px 1px 2px white;
    justify-content: center;
    display: flex;
    
}
.container{
    color:pink;
    display: flex;
    justify-content: center;
    gap: 10px;
}


::-webkit-scrollbar{
    width: 10px;
}