body{
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
}
.Head{
    text-shadow: .5px 1px 3px white;
    justify-content: center;
    display: flex;
}
.Head h1{
    font-size: 40px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: purple;
    color: yellow;
    margin: 0;
}

.container div{
    text-align: center;
    border-radius: 5px;
    padding: 9px;
    transition: transform 0.4s ease-in-out, background-color 0.3s ease;
    flex: 1 1 200px;
    background-color: #282c34;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    width: 200px;
}


.container{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;

}
.container img{
    width: 100%;
    height: auto;
    border-radius: 0; 
    display: block;
    margin: 0;
    padding: 0;
}
#box1{
    
}

.container div:hover img {
    transform: scale(1.1);
}
.container div:hover{
    width: 15%;
    transform: scale(1.05);
}
.bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index:1;
}
.bar a{
    display: inline;
    padding: 15px 20px; 
    color: aqua;
    border-right: 1px solid #bbb;
    cursor: pointer;
}
.bar a:last-child{
    border-right: none;
    margin-left: auto;
}
.bar a:hover{
    transform: scale(1.05);
    background-color: green;
}
.serch{
    display: flex;
    align-items: center;
    background-color:lightgray;
    border-radius: 30px ;
    padding: 10px 20px;
    box-shadow: 0 2px 4px white;
    max-width: 600px;
    margin: 0 auto;
}
.serch input[type="text"]{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #666;
    outline: none;
    flex: 1;
}
::-webkit-scrollbar{
    background-color: #555;
    border-radius: 5px;
}
