body{
   background-color: antiquewhite;
}
.home{
   padding: 10% 15%;
}
#head,#text{
   transition:color 0.3s ease,transform 0.4s ease-in-out;
}
#head:hover,#text:hover{
   color: green;
   cursor:context-menu;
   transform: scale(1.05);
}
#head{
   font-family: 'Didot', 'Bodoni', serif; 
   font-size: calc(60px + 1.5vw); 
   text-align: center;
   margin: 0 auto;
}
#text{
   font-family: 'Helvetica', 'Arial', sans-serif;
   font-size: 20px;
   text-align: center;
}
.subtext {
   display: flex;
   justify-content: center; 
   gap: 100px; 
   padding: 20%;
}
.recipes, .invesment {
   font-family: 'garamond', serif;
   text-align: center;
   position: relative;
}
.recipes b, .invesment b, .recipes a, .invesment a{
   transition: color 0.3s ease;
   font-size: 24px;
   text-decoration: none;
   color: black;
}
.recipes em, .invesment em {
   transition: color 0.3s ease;  
   margin: 0px 25px;
   font-size: 18px; 
   display: block;
}
#line {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100px;
   background-color: black;
   height: 3px;
   opacity: 0;  
   transform: scale(0);  
   transform-origin: center;
   transition: transform 0.7s ease, opacity 0.7s ease;
   margin-top: 10px;  
   position: relative;
}
#line::before, #line::after{
   content: ' ';
   background-color: black;
   width: 10px;
   height: 10px;
   transform: rotate(45deg);
   flex-shrink: 0;
}
#line::after{
   left: -12px;
}
#line::before{
   right: -12px;
}
.recipes:hover,.invesment:hover{
   cursor: pointer;
}
.recipes b:hover, .invesment b:hover,.recipes a:hover,.invesment a:hover {
   color: aqua;
}
.recipes em:hover, .invesment em:hover {
   color: brown;
}
.recipes:hover #line, .invesment:hover #line {
   opacity: 1;  
   transform: scaleX(1);  
   cursor: pointer;
}
::-webkit-scrollbar-thumb {
   background-color: #333; 
   border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
   background-color: #777;
}


@keyframes drawLine {
   from {
       width: 0;
   }
   to {
       width: 100px;
   }
}

.recipes:hover #line, .invesment:hover #line {
   opacity: 1;  
   transform: scale(1);
   animation: drawLine 0.8s ease-in-out forwards;
}

